.container {
  width: 500px;
}
#list {
  list-style-type: none;
  list-style: none;
}
ul {
  list-style: none;
  background-color: aquamarine;
}
.list-container {
  background-color: #f1f1f1;
}
.list-container > li {
  width: fit-content;
}
.list-container > li:hover {
  background: black;
  color: white;
}
.list-span-container > li > span:hover {
  background-color: blue;
  color: white;
}
/* .list-span-container > li > span:hover{
    background-color: blue;
    color: white;
} */
.ordered-list::before {
  content: "1";
  width: 100px;
  height: 20px;
  background-color: red;
}
.paragraph::first-letter {
  font-size: 40px;
}
.parent {
  position: relative;
  /* display: flex;
  flex-direction: row; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  width: 100%;
  height: 600px;
  /*overflow: auto; */
  border: 1px solid blue;
  /*padding: 10px; */
  padding: 10px 30px 20px;
}

/*responsive css breakpoints*/

.grid-col-span-2 {
  grid-column: span 2;
}

.box {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 20px;
  /* top: 20px; */
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 640px) {
  .parent {
    flex-direction: column;
  }
}
